// nf-config description
params {
    config_profile_name = 'UltraViolet'
    config_profile_description = 'Profile for use on NYU Langone Health UltraViolet HPC.'
    config_profile_contact = 'Teo Sakel @TeoSakel'
}

// Get USER (Kerberos) id
def kerberos_id = System.getenv("USER")

// Define scratch directory
scratch_dir = "/gpfs/scratch/$kerberos_id"

// Clear work directory upon successful completion
cleanup = true

// Limit submit rate to avoid bombarding the server
executor {
    queueSize = 25
    submitRateLimit = '12/1min'
}

// Singularity parameters
singularity {
    enabled = true
    autoMounts = true
    cacheDir = "$scratch_dir/singularity_images_nextflow"
}

// Default Profile for cpu_* queues
params {
    max_memory = 327680.MB
    max_cpus = 20
    max_time = '28.day'
    igenomes_base = '/gpfs/share/apps/iGenomes'
}

process {
    module = ['singularity']
    executor = 'slurm'
    queue = { task.time < 12.h ? 'cpu_short' : task.time < 5.d ? 'cpu_medium' : 'cpu_long' }
}

// Alternative profiles for other queues.
profiles {
    fat {
        params {
            max_cpus = 32
            max_memory = 1474560.MB
            max_time = 28.d
            igenomes_base = '/gpfs/share/apps/iGenomes'
        }
        process {
            queue = { task.time < 12.h ? 'fn_short' : task.time < 5.d ? 'fn_medium' : 'fn_long' }
        }
    }

    gpu4 {
        params {
            max_cpus = 20
            max_memory = 327680.MB
            max_time = 28.d
            igenomes_base = '/gpfs/share/apps/iGenomes'
        }
        process {
            queue = { task.time < 12.h ? 'gpu4_short' : task.time < 3.d ? 'gpu4_medium' : 'gpu4_long' }
        }
    }
    gpu8 {
        params {
            max_cpus = 24
            max_memory = 737280.MB
            max_time = 28.d
            igenomes_base = '/gpfs/share/apps/iGenomes'
        }
        process {
            queue = { task.time < 12.h ? 'gpu8_short' : task.time < 3.d ? 'gpu8_medium' : 'gpu8_long' }
        }
    }
    a100 {
        params {
            max_cpus = 24
            max_memory = 480000.MB
            max_time = 28.d
            igenomes_base = '/gpfs/share/apps/iGenomes'
        }
        process {
            queue = { task.time < 3.d ? 'a100_short' : 'a100_long' }
        }
    }

    debug {
        cleanup = false
    }
}
